extends layout

block content
   h1 #{site.name}
   form(method="post" action='login')
      table
         tr
            th Username
            td
               input(type="text" name="username")
         tr
            th Password
            td
               input(type="password" name="password")
         tr
            td(colspan=2)
               button(type="submit") Submit